<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords"
            content="restaurant Gourani,restaurant Bucuresti,meniu restaurant,paste,grill,salate,pizza,sosuri,desert,aperitive,bauturi,mancare,sucuri,cafea,bere,cocktail,eveniment restaurant,meniu restaurant">
        <meta name="description" content="GOURANI - THE PLACE WHERE EVERY DETAIL TELLS A STORY.">
        <title>Restaurant Gourani - eroare</title>
        <link rel="stylesheet" type="text/css" href="/resurse/css/eroare.css"
        <%- include("../fragmente/head.ejs");  %> 


    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>