<!DOCTYPE html>
<html lang="ro">

    <head>
        <meta charset="UTF-8">
        <title>Restaurantul Gourani</title>
        <meta name="keywords"
            content="restaurant Gourani,restaurant Bucuresti,meniu restaurant,paste,grill,salate,pizza,sosuri,desert,aperitive,bauturi,mancare,sucuri,cafea,bere,cocktail,eveniment restaurant,meniu restaurant">
        <meta name="description" content="GOURANI - THE PLACE WHERE EVERY DETAIL TELLS A STORY.">
        <%- include("../fragmente/head.ejs")  %>
       <script>

            window.onload = function () {
                meniu = document.getElementsByTagName("nav")[0];

                //selectez submeniurile
                submeniuri = meniu.querySelectorAll("ul.meniu ul");
                for (let subm of submeniuri) {

                }

                window.onresize = function () {
                    if (window.innerWidth > 650) {

                        document.getElementById("ch-menu").checked = false;

                    }
                }

            }
        </script>
    </head>

    <body>
        <%- include("../fragmente/header.ejs")  %>

        <main>
            <div id="grid-pagina">
                <section id="bunvenit">
                    <br>
                    <h2>Bun venit pe site-ul restaurantului Gourani! <span class="fas fa-utensils fa-shake"></span></h2>
                    <div id="imagine"></div>
                    <br>
                    <button id="tema" class="btn btn-primary">Schimba tema</button>
                    <!-- <figure>
                        <picture>
                            <source media="(max-width: 1000px)" srcset="resurse/imagini/img2.png">
                            <img src="resurse/imagini/img1.png" alt="imagine-sigla">
                        </picture>
                        <figcaption>~Imagine din interiorul restaurantului~</figcaption>
                    </figure> -->

                    <p>La restaurantul nostru, suntem mândri să folosim doar cele mai proaspete
                        ingrediente și să gătim cu pasiune, așa cum spune celebrul chef Alain
                        Ducasse: <q>Nu există bucate bune sau rele, există doar ingrediente proaspete
                            și pasiune pentru gătit</q>.Vă recomandăm să încercați preparatul nostru special de paste,
                        <dfn>Paste cu trufe în sos
                            de smântână</dfn>. Acest fel de paste este făcut cu paste proaspete, sos de roșii,
                        usturoi, ulei de măsline, parmezan și o delicioasă salsa de trufe, care conține bucăți
                        de trufe negre. Vă prezentăm și rețetele celor mai deosebite preparate ale noastew, în caz
                        că vreți să le încercați dvs., iar dacă nu
                        vă iese, noi vă așteptăm cu cel mai mare drag:
                    </p>
                    <div class="flex-container">
                        <div class="flex-iframe">
                            <iframe id="ifr-video2" name="ifr-video2" width="560" height="315"
                                src="https://www.youtube.com/embed/StpWqVsOlEQ"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="taburi-iframe">
                            <a href="https://www.youtube.com/embed/StpWqVsOlEQ" target="ifr-video2"><b>Paste cu
                                    trufe</b></a>
                            <a href="https://www.youtube.com/embed/4aGYw8l9Dh0" target="ifr-video2"><b>Tagliatelle
                                </b></a>
                            <a href="https://www.youtube.com/embed/7tigRouakaU" target="ifr-video2"><b>Canelloni
                                </b></a>
                        </div>
                    </div>

                </section>
                <section id="tabangajati">
                    <h2>ANGAJAȚI</h2>
                    <table>
                        <caption>În tabelul de mai sus se pot vedea toți angajații noștri fără de care nu am putea
                            exista.
                        </caption>
                        <thead>
                            <tr>
                                <th>Nume</th>
                                <th>Prenume</th>
                                <th>Funcție</th>
                                <th>Data angajării</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Popescu</td>
                                <td>Andrei</td>
                                <td rowspan="3">Bucătar</td>
                                <td>01.05.2020</td>
                            </tr>
                            <tr>
                                <td>Ian</td>
                                <td>Mihai</td>
                                <td>01.09.2017</td>
                            </tr>
                            <tr>
                                <td>Dragomir</td>
                                <td>Mihaela</td>
                                <td>01.08.2020</td>
                            </tr>
                            <tr>
                                <td>Șteică</td>
                                <td>Paul</td>
                                <td>Curier</td>
                                <td>01.11.2019</td>
                            </tr>
                            <tr>
                                <td>Ion</td>
                                <td>Alin</td>
                                <td rowspan="4">Ospătar</td>
                                <td>01.11.2022</td>
                            </tr>
                            <tr>
                                <td>Popa</td>
                                <td>Andreea</td>
                                <td>01.02.2023</td>
                            </tr>
                            <tr>
                                <td>Marin</td>
                                <td>Lucian</td>
                                <td>01.09.2015</td>
                            </tr>
                            <tr>
                                <td>Ionescu</td>
                                <td>Ioana</td>
                                <td>01.07.2021</td>
                            </tr>
                            <tr>
                                <td>Andrei</td>
                                <td>Georgiana</td>
                                <td>Asistent bucătar</td>
                                <td>01.03.2021</td>
                            </tr>
                            <tr>
                                <td>Radu</td>
                                <td>Adrian</td>
                                <td>Barman</td>
                                <td>01.01.2019</td>
                            </tr>
                            <tr>
                                <td>Mihai</td>
                                <td>Andreea</td>
                                <td>Manager</td>
                                <td>01.03.2018</td>
                            </tr>
                            <tr>
                                <td>Petre</td>
                                <td>Maria</td>
                                <td>Bucătar șef</td>
                                <td>01.06.2016</td>
                            </tr>
                            <tr>
                                <td>Dinu</td>
                                <td>Ion</td>
                                <td>Agent de securitate</td>
                                <td>01.04.2022</td>
                            </tr>
                        </tbody>
                    </table>


                </section>
                <section id="evenimente">
                    <h2>Evenimente</h2>
                    <p>sucurio la Noaptea Ispitelor, singură sau cu ispita ta. Te așteptăm într-o ambianță perfectă pentru
                        a te
                        lăsa ispitită de ritmul muzicii,
                        de baieții de la Flamingo Boys și culorile cocktail-urilor amețitoare.<br>
                        Te așteptăm la restaurantul Gourani în data de 8 martie, începand cu ora 19:30 (eveniment
                        dedicat
                        femeilor, dar au acces și bărbații).<br>
                        Programul artistic este unul adecvat zilei de 8 Martie și include Flamingo Boys,MC Vasile
                        Calofir
                        și mai multe formații care sigur vă vor încânta.<br>
                        Facilități: parcare pazită gratuită în limita locurilor disponibile și garderobă, bucătărie
                        deschisă
                        cu meniul disponibil la locație.</p>
                    <a href="https://www.bilete.ro/calendar/martie-2023/08/">Click aici pentru bilete la evenimentul din
                        <b>8
                            martie 2023</b></a>

                </section>
                <section id="anunturi">
                    <h2>Anunturi</h2>
                    <p>
                        Restaurantul nostru caută persoane talentate și motivate pentru a se alătura echipei noastre din
                        diferite poziții.
                        Suntem în căutarea de bucătari, ospătari, barmani și ajutori de bucătar care să împărtășească
                        pasiunea noastră pentru mâncare
                        delicioasă și experiențe culinare de neuitat.
                        Pentru poziția de bucătar, candidatul ideal trebuie să aibă experiență anterioară în bucătărie,
                        să fie creativ și să aibă abilități excelente de gestionare
                        a timpului și de organizare. Este de preferat să aibă abilități de conducere și să fie capabil
                        să se adapteze rapid la schimbările din meniu și la cerințele
                        clienților.
                        Pentru poziția de ospătar, candidatul ideal trebuie să fie amabil, să aibă abilități excelente
                        de comunicare și să poată oferi un serviciu excelent clienților.
                        Este de preferat să aibă experiență anterioară în industria ospitalității și să fie capabil să
                        gestioneze mai multe mese în același timp.

                    </p>
                </section>
                <section id="utilizonline">
                    <h2>Utilizatori online <span class="fas fa-duotone fa-users"></span></h2>

                    <ul>
                        <li>Danutza</li>
                        <li>Alexandra25</li>
                        <li>RaduPopescu</li>
                        <li>Cristina87</li>
                        <li>AnaMaria98</li>
                        <li>Andrei_Mihai</li>
                        <li>IoanaDumitru</li>
                        <li>Gabriela_24</li>
                        <li>VasileToma</li>
                        <li>MihneaCristea</li>
                        <li>Andreea_Nica</li>
                        <li>FlorinRusu</li>
                        <li>Elena_Ionescu</li>
                        <li>MarianDragan</li>
                        <li>AlinaMoldovan</li>
                        <li>RalucaMarin</li>
                        <li>CatalinPascu</li>
                        <li>Simona_Iancu</li>
                        <li>BogdanFlorea</li>
                        <li>LauraStanescu</li>
                    </ul>
                </section>
                <section id="dateutil">
                    <h2>Date despre utilizator & statistici</h2>

                    <% if(!locals.utilizator) { %>
                        <form id="form_inreg" method="post" class="date" action="/login"
                            enctype="multipart/form-data">
                            <p>
                                <label>
                                    Username: <input type="text" name="username" id="inp-username" value=""
                                        required">
                                </label>
                            </p>
                            <p>
                                <label>
                                    Parola: <input id="parl" type="password" required name="parola" value="">
                                </label>
                            </p>
                            <p><input type="submit" value="Logare"></p>
                        </form>
                        <p><%- locals.eroareLogin %></p>
                        <% } else {%>
                        <%- locals.succesLogin %>
                        <% }  %>
                        
                </section>
                <section id="siteserver">
                    <h2>Date despre site si server</h2>
                
                    <%
                    dataServer=new Date();
                    sirData=dataServer.getHours()+":"+dataServer.getMinutes()+":"+dataServer.getSeconds()
                
                    %>
                    <p>Pe localhost vor fi identice; se va observa diferența pe Heroku</p>
                    <p>Ora server:<span id="data_server"><%= sirData %></span></p>
                    <p>Ora client:<span id="data_client"></span></p>
                    <script>
                        function zero(nr){
                            if (nr<10) return "0"+nr;
                            return nr;
                        }
                        
                        d=new Date()
                        document.getElementById("data_client").innerHTML=zero(d.getHours())+":"+zero(d.getMinutes())+":"+zero(d.getSeconds());
                
                        function actualizeazaElemData(id_div){
                            var data_div=document.getElementById(id_div);
                            if (data_div.innerHTML!="")
                            {
                                var timp=data_div.innerHTML.split(":")
                                var dt=new Date(2000,1,15, timp[0],timp[1], timp[2] );//nu conteaza data (am pus valori random pentru an, luna si zi) ci timpul
                            }
                            else
                                var dt=new Date();
                            dt.setSeconds(dt.getSeconds()+1)
                            data_div.innerHTML=zero(dt.getHours())+":"+zero(dt.getMinutes())+":"+zero(dt.getSeconds());
                        }
                        function actualizeazaData(){
                            actualizeazaElemData("data_client");
                            actualizeazaElemData("data_server");
                        }
                        actualizeazaData()
                        setInterval(actualizeazaData,1000)
                    </script>

                </section>
                <section id="oferte">
                    <div id="titlu-u">
                        <h2>Oferte</h2>
                    </div>

                    <ul>
                        <li>Vă invităm la restaurantul nostru pentru a experimenta preparatele noastre delicioase!
                            Oferta
                            noastră variată include preparate la grătar, pizza și deserturi care satisfac cele mai
                            diverse
                            gusturi. Pentru cei care iubesc carnea de vită, recomandăm mușchiul de vită argentiniană,
                            care
                            este gătit la grătar și servit cu legume proaspete. Pentru iubitorii de pui, avem piept de
                            pui
                            marinat, care este de asemenea gătit la grătar și servit cu garnituri de sezon.</li>
                        <li>Dacă doriți să încercați o opțiune mai neobișnuită, vă recomandăm coastele de mangaliță,
                            care
                            sunt servite cu o garnitură delicioasă. Pentru iubitorii de pește, bibanul de mare este o
                            alegere excelentă, fiind proaspăt și aromat.</li>
                    </ul>
                    <video poster="/resurse/imagini/postervideo.png" id="video-promo" controls preload="auto">
                        <source src="./resurse/videoclipuri/videopromo.mp4" type="video/mp4">
                        <source src="./resurse/videoclipuri/videopromo.mkv" type="video/mkv">
                        <track src="./resurse/videoclipuri/videopromo.vtt" kind="subtitles" srclang="ro" label="Romana">
                        <track src="./resurse/videoclipuri/videopromoeng.vtt" kind="subtitles" srclang="en"
                            label="English">
                        Your browser does not support the video tag.
                    </video>
                    <br>
                    <hr>
                    <br>
                    <%- include("../fragmente/galerie_statica.ejs") %>

                </section>
            </div>

            <!--pentru pagina cu meniu-->
            <!-- <section id="meniu">
                <h2>MENIU</h2>
                <p>
                    Propunerea noastră culinară este o combinație de preparate tradiționale americane, mediteraneene
                    și românești, selecționate dintre cele mai populare și apreciate din întreaga lume, indiferent
                    de vârstă.

                    Gusturile cunoscute și seducătoare sunt menite să celebreze momentele spontane și distractive
                    petrecute în compania prietenilor. Aceasta este mâncarea la care te întorci mereu, mâncarea care
                    te duce cu gândul la amintirile fericite alături de cei dragi.

                    Am ales să păstrăm nostalgia în locul exceselor, să renunțăm la mâncărurile sofisticate în
                    favoarea celor calde și satisfăcătoare, dar cu o notă de inovație personală, care le face cu
                    adevărat speciale.

                </p>
                <section id="mancare">
                    <h3>MÂNCARE</h3>

                    <section id="paste">
                        <h4>PASTE</h4>

                        <ul>
                            <li>Tagliatelle Vitello</li>
                            <li>Spaghetti Al Pomodoro</li>
                            <li>Special Cannelloni</li>
                            <li>Linguine cu creveți</li>
                        </ul>
                    </section>
                    <section id="gratar">
                        <h4>PREPARATE LA GRĂTAR</h4>
                        <ul>
                            <li>Mușchi de vită argentiniană</li>
                            <li>Piept de pui marinat</li>
                            <li>Coaste de mangaliță</li>
                            <li>Biban de mare</li>
                            <li>Ceafă de mangaliță</li>
                            <li>Cotlețele de miel în stil franțuzesc fin</li>
                        </ul>
                    </section>
                    <section id="pizza">
                        <h4>PIZZA</h4>
                        <ul>
                            <li>Capriciosa</li>
                            <li>Margherita</li>
                            <li>Europeană</li>
                            <li>California</li>
                            <li>Quattro Stagioni</li>
                        </ul>
                    </section>
                </section>
                <section id="desert">
                    <h4>DESERT</h4>
                    <ul>
                        <li>Papanași cu dulceață de afine</li>
                        <li>Pavlova cu fructe de pădure</li>
                        <li>Cheesecake</li>
                        <li>Înghețată DELICATO</li>
                    </ul>
                </section>
            </section>
            <section id="bauturi">
                <h3>BĂUTURI</h3>
                <section id="sucuri">
                    <h4>sucuri</h4>
                    <ul>
                        <li>Sauvignon Blanc</li>
                        <li>Pinot Noir</li>
                        <li>Fetească Neagră</li>
                        <li>Negrini Cupaj rose</li>
                        <li>Negrini Cupaj Alb</li>
                        <li>Lacerta Rheinriesling</li>
                        <li>Nocturne Purcari</li>
                        <li>Rasova alb</li>
                    </ul>
                </section>
                <section id="bere">
                    <h4>BERE</h4>
                    <ul>
                        <li>Silva strong dark</li>
                        <li>Birra Morreti</li>
                        <li>Heineken</li>
                        <li>Desperados</li>
                        <li>Ciuc Premium</li>
                        <li>Ciuc Radler</li>
                    </ul>
                </section>
                <section id="cocktail">
                    <h4>bere</h4>
                    <ul>
                        <li>NOR 36</li>

                        <li>Exotic Weekend</li>
                        <li>Mango mojito</li>
                        <li>White peach margarita</li>
                        <li>First date gin</li>
                    </ul>
                </section>
            </section>
            <section id="cafea">
                <h4>CAFEA</h4>
                <ul>
                    <li>Espresso</li>
                    <li>Latte macchiato</li>
                    <li>Cappuccino</li>
                    <li>Ciocolată caldă albă</li>
                    <li>Ceai</li>
                    <li>Ciocolată neagră</li>
                </ul>
            </section>


            <section id="despre">
                <h2>DESPRE</h2>
                <section id="prezentare">
                    <h3>O scurtă prezentare a acestui restaurant</h3>
                    <p>Gourani este locul unde fiecare detaliu spune o poveste. Situat în imediata apropiere a
                        parcului IOR, la etajul 3 în galeriile <b>Titan</b>,
                        Gourani este un spațiu plin de vitalitate și relaxare, perfect pentru a petrece momente
                        deosebite în orice moment al zilei. Inspirat de
                        frumusețea formelor naturii, restaurantul Gourani a fost creat pentru a celebra
                        complexitatea acesteia, transformându-se într-o destinație
                        în sine, nu doar un simplu restaurant. De la iluminarea excentrică până la elementele de
                        decor îmbinate într-un mod surprinzător, Gourani
                        dorește să îndeplinească dorințele nonconformiste ale oaspeților săi. Astfel, vă invităm
                        să vă bucurați de priveliștea panoramică a parcului
                        IOR în timp ce savurați mâncarea preferată, un pahar de sucuri sau o conversație plăcută.
                        Vă invităm să experimentați gustul autentic al
                        preparatelor noastre culinare și să vă bucurați de o experiență gastronomică
                        de neuitat. Sperăm să vă simțiti cât mai bine și să nu experimentați nici dumneavoastră, dar
                        nici noi, evenimente, ca în clipul de mai jos(un scurt moment de amuzament care sperăm că vă
                        va distra):</p>
                    <div class="taburi-iframee">
                        <a href="https://www.youtube.com/embed/km4ziaZUZDU" target="ifr-videoo"></a>

                    </div>
                    <iframe name="ifr-videoo" width="560" height="315" src="https://www.youtube.com/embed/km4ziaZUZDU"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                </section>
                <section id="program">
                    <div class="container">
                        <h2>Program</h2>
                        <table id="tab-program">
                            <thead>

                                <tr>
                                    <th>Perioadă</th>
                                    <th>Zi</th>
                                    <th>Interval</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td rowspan="5">Zile<br>Lucrătoare</td>
                                    <td>Luni</td>
                                    <td>09:30-00:00</td>
                                </tr>
                                <tr>
                                    <td>Marti</td>
                                    <td>09:30-00:00</td>
                                </tr>
                                <tr>
                                    <td>Miercuri</td>
                                    <td>09:30-00:00</td>
                                </tr>
                                <tr>
                                    <td>Joi</td>
                                    <td>09:30-00:00</td>
                                </tr>
                                <tr>
                                    <td>sucurieri</td>
                                    <td>09:30-00:00</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Weekend</td>
                                    <td>Sambata</td>
                                    <td>10:00-02:00</td>
                                </tr>
                                <tr>
                                    <td>Duminica</td>
                                    <td>10:00-00:00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
            <section id="inregistrare">
                <h2>inregistrare</h2>
                <p>Conectare<br>Nu aveți cont? Înregistrare</p>
            </section> -->

        </main>
        <!-- <%- include("../fragmente/galerie_animata.ejs")  %> -->
        <%- include("../fragmente/footer.ejs")  %>
    </body>

</html>