<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Restaurantul Gourani</title>
        <meta name="keywords"
        content="restaurant Gourani,restaurant Bucuresti,meniu restaurant,paste,grill,salate,pizza,sosuri,desert,aperitive,bauturi,mancare,sucuri,cafea,bere,cocktail,eveniment restaurant,meniu restaurant">
        <meta name="description" content="GOURANI - THE PLACE WHERE EVERY DETAIL TELLS A STORY.">
        <%- include("../fragmente/head") %>     
        <link href="/resurse/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <section>
            <h2>Pagină produs</h2>
                <article id="art-produs">
                    <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                    <p>Ingrediente: <span class="ingrediente"><%- locals.prod.ingrediente %> </span></p>
                    <p>Calorii: <span class="calorii"><%- locals.prod.calorii %> </span></p>
                    <p>Gramaj: <span class="gramaj"><%- locals.prod.gramaj %> </span></p>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                    <p>Pentru diabetici: <span class="disponibil_online"><%- locals.prod.disponibil_online %> </span></p>
                    <p>Data adăugare: <span class="categorie"><%- locals.prod.data_adaugare %> </span></p>
                    <figure class="imag-produs">
                        <img  src="/resurse/imagini/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure>    
                </article>
            
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>